<footer id="footer-Section">
	<div class="footer-top-layout">
		<div class="container1">
			<div class="row">
				<div class="OurBlog">
					<h4>Автосалон "BMW-шечка"</h4>
					<p>Найкращі ціни для нових емоцій!</p>
					<div class="post-blog-date">Замовляй прямо зараз</div>
				</div>
				<div class=" col-lg-8 col-lg-offset-2">
					<div class="col-sm-4">
						<div class="footer-col-item">
							<h4>Наша адреса:</h4>
							<address>
							51,13 проспект Свободи<br>
							88015 Ужгород, Україна
							</address>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="footer-col-item">
							<h4>Зв'язок з нами:</h4>
							<div class="item-contact"> <a href="tel:630-885-9200"><span class="link-id">P</span>:<span>630-885-9200</span></a> <a href="tel:630-839.2006"><span class="link-id">F</span>:<span>630-839.2006</span></a> <a href="mailto:info@brandcatmedia.com"><span class="link-id">E</span>:<span>info@brandcatmedia.com</span></a> </div>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="footer-col-item">
							<h4>Будемо раді бачити вас в нашому автосалоні</h4>
							<p>Замовляй сьогодні, завтра драйвуй!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer-bottom-layout">

		<div class="copyright-tag">Copyright © 2017 © BMW AG 2017. All Rights Reserved.</div>
	</div>
</footer>
